<%- include('./partials/header', { gestorInfo: gestorInfo, pageName: 'Adicionar colaborador' }) %>

    <body>
        <div class="flex">
            <div id="loader"></div>

            <%- include('./partials/menu') %>

                <!-- Exibir mensagem de erro se existir -->
                <% if (error) { %>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <%= error %>
                            </p>
                        </div>
                    </div>
                    <% } %>

                        <form action="/home/addColab/cadColab" method="post" enctype="multipart/form-data">
                            <input placeholder="Colaborador - Nome" type="text" name="colabNome" id="">
                            <br>
                            <input placeholder="Colaborador - Email" type="email" name="colabEmail" id="">
                            <br>
                            <select name="colabSetor" id="">
                                <option disabled selected>
                                    Escolha um setor
                                </option>

                                <% listaSetores.forEach((listaSetores)=>{ %>

                                    <option value="<%= listaSetores.id %>">
                                        <%= listaSetores.descricao %>
                                    </option>

                                    <% }); %>

                            </select>
                            <br>
                            <select name="colabCargo" id="">
                                <option disabled selected>
                                    Escolha um cargo
                                </option>

                                <% listaCargos.forEach((listaCargos)=>{ %>

                                    <option value="<%= listaCargos.id %>">
                                        <%= listaCargos.nome %>
                                    </option>

                                    <% }); %>
                            </select>
                            <br>
                            <input type="file" name="colabFoto" id="">
                            <br>
                            <input type="submit" value="Cadastrar colaborador">
                        </form>
        </div>

    </body>

    </html>