<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Lista de colaboradores'
}) %>
<body class="">

    <div id="loader"></div>

    <div class="container grid grid-cols-5">
    

    <div class="col-start-1 col-span-1">
        <%- include('./partials/menu') %>
    </div>

        <div class="">

            <h1 class="text-2xl font-bold text-gray-800 mb-4 my-8">Colaboradores</h1>
            

            <a href="/home/addColab" class="bgcolormain hover text-white font-semibold rounded-md px-4 py-2 focus:outline-none transition-colors duration-300">Adicionar colaborador</a>
            

            <div class="col-start-3 col-span-5">

                <% listColaborador.forEach((listColaborador)=>{ %>
                    
                    <div class="bg-gray-300 my-2">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <% if(listColaborador.foto == null){ %>
                            <img class="rounded-full" src="/img/profile/default.jpg" style="width: 100px; height: 100px;" alt="">
                            <% } else { %>
                                <img class="rounded-full"
                                src="/uploads/<%= gestorInfo.id %>/colaboradores/<%= listColaborador.id %>/<%= listColaborador.foto %>"
                                alt="" style="width: 100px; height: 100px;">
                            <% } %>
                            
                            <p>
                                <%= listColaborador.nome %>
                            </p>
                            <!-- Criando rota dinÂmica para a página de detalhes do colaborador -->
                            <a href="/home/colaboradores/<%= listColaborador.id %>/">
                                ver info
                            </a>
                        </div>
                    </div>

                    <% }); %>
            </div>

        </div>
    </div>
</body>

</html>