<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/loader.js"></script>
    <link rel="stylesheet" href="/style/loader.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Colaboradores</title>
</head>

<body>

    <div id="loader"></div>

    <h1>Colaboradores</h1>

    <%- include('./partials/menu') %>

        <a href="/home/addColab">adicionar colaboradores</a>

        <% listColaborador.forEach((listColaborador)=>{ %>

            <div class="bg-red-500 my-2">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <img class="rounded-full" src="/uploads/<%= infoGestor.nome %>/colaboradores/<%= listColaborador.nome %>/<%= listColaborador.foto %>"
                        alt="ai mds" style="width: 100px; height: 100px;">
                    <p>
                        <%= listColaborador.nome %>
                    </p>
                    <!-- Nâo sei como passar os req.params pora o link -->
                    <a href="/home/colaboradores/<%= listColaborador.id %>/<%= listColaborador.nome %>">ver info</a>
                </div>
            </div>

            <% }); %>
</body>

</html>