<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Lista de colaboradores'
}) %>  
    
    <div id="loader"></div>

    <div class="flex container grid grid-cols-5">        

        <div class="col-start-1 col-span-1">
            <%- include('./partials/menu') %>
        </div>        
    

        <div class="rounded-lg col-start-2 col-span-4 sm:col-start-3 sm:col-end-5 p-2">

            
            <h1 class="text-2xl font-bold text-gray-800 my-6">Colaboradores</h1>           
            

            <div class="flex-col">

                <!-- Barra de pesquisa para colaboradores -->
                <form action="/home/colaboradores/search" method="post">

                    <input placeholder="Buscar colaborador" type="text" name="searchColab" id="" class="bg-white border border-gray-300 rounded-md py-2 mb-4 focus:outline-none w-full">

                    <button type="submit" class="bgcolormain hover text-white font-semibold rounded-md px-4 py-2">PESQUISAR</button>   
                    
                    <a href="/home/addColab" class="bgcolormain hover text-white font-semibold rounded-md px-4 py-2">ADICIONAR</a>

                </form>                
                
                <!-- apresentando pesquisa -->                

                <div class="">

                    <% listColaborador.forEach((listColaborador)=>{ %>

                        <div class="bg-gray-200 my-2 mt-4 flex justify-between ">
                            <div class="flex justify-center items-center">
                                <% if(listColaborador.foto==null){ %>
                                    <img class="rounded-full" src="/img/profile/default.jpg"
                                        style="width: 100px; height: 100px;" alt="">
                                    <% } else { %>
                                        <img class="rounded-full"
                                            src="/uploads/<%= gestorInfo.id %>/colaboradores/<%= listColaborador.id %>/<%= listColaborador.foto %>"
                                            alt="" style="width: 100px; height: 100px;">
                                        <% } %>

                                            <p>
                                                <%= listColaborador.nome %>
                                            </p>                                            
                            </div>    
                            <div class="font-semibold my-auto sm:mx-4 text-gray-800">
                                <!-- Criando rota dinÂmica para a página de detalhes do colaborador -->
                                <a href="/home/colaboradores/<%= listColaborador.id %>/">
                                    ver info
                                </a>
                            </div>                        
                        </div>
                        
                        <% }); %>
                </div>
            </div>
    </div>
    </body>

    </html>
