<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Lista de colaboradores'
}) %>
<body >

    <div id="loader"></div>

    <%- include('./partials/menu') %>

        <div class="">

            <h1>Colaboradores</h1>

            <a href="/home/addColab">adicionar colaboradores</a>

            <div class="">

                <% listColaborador.forEach((listColaborador)=>{ %>
                    
                    <div class="bg-red-500 my-2">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <% if(listColaborador.foto == null){ %>
                            <img class="rounded-full" src="/img/profile/default.jpg" style="width: 100px; height: 100px;" alt="">
                            <% } else { %>
                                <img class="rounded-full"
                                src="/uploads/<%= gestorInfo.id %>/colaboradores/<%= listColaborador.id %>/<%= listColaborador.foto %>"
                                alt="" style="width: 100px; height: 100px;">
                            <% } %>
                            
                            <p>
                                <%= listColaborador.nome %>
                            </p>
                            <!-- Criando rota dinÂmica para a página de detalhes do colaborador -->
                            <a href="/home/colaboradores/<%= listColaborador.id %>/">
                                ver info
                            </a>
                        </div>
                    </div>

                    <% }); %>
            </div>

        </div>
</body>

</html>