<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
</head>

<body>
    <h1>EDITAR PERFIL DE GESTOR</h1>

    <div>
        <%= error %>
    </div>

    <form action="/home/perfilGestor/edit/confirmEdit" method="post" enctype="multipart/form-data">
        <h2><%= gestorInfo.nome %></h2>
        <input required placeholder="Gestor - Email" type="email" name="gestorEmail" value="<%= gestorInfo.email %>">
        <br>
        <input required placeholder="Gestor - Senha" type="password" name="gestorSenha" value="<%= gestorInfo.senha %>">
        <br>
        <input placeholder="Gestor - Foto de perfil" type="file" name="gestorFoto">
        <br>
        <select required name="gestorSetor" id="">

            <option selected disabled>
                ESCOLHA UM SETOR
            </option>

            <% listaSetores.forEach((listaSetores)=>{ %>

                <option value="<%= listaSetores.id %>">
                    <%= listaSetores.descricao %>
                </option>

                <% }); %>
        </select>   
        <br>
        <select required name="gestorCargo">

            <option selected disabled>ESCOLHA UM CARGO</option>

            <% listaCargos.forEach((listaCargos)=>{ %>

                <option value="<%= listaCargos.id %>">
                    <%= listaCargos.nome %>
                </option>

                <% }); %>

        </select>
        <br>
        <input type="submit" value="Atualizar">
    </form>

    <br><br>
    <a href="/">login</a>
</body>

</html>