
<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Editar Gestor'
}) %>

<div class="flex">
<%- include('./partials/menu', {gestorInfo: gestorInfo}) %> 

    <div>
        <%= error %>
    </div>

    <form action="/home/perfilGestor/edit/gestorUpdate" method="post" enctype="multipart/form-data">
        <input required placeholder="Gestor - Nome" type="text" name="gestorNome" value="<%= gestorInfo.nome %>">
        <br>
        <input required placeholder="Gestor - Email" type="email" name="gestorEmail" value="<%= gestorInfo.email %>">
        <br>
        <input required placeholder="Gestor - Senha" type="password" name="gestorSenha" value="<%= gestorInfo.senha %>">
        <br>
        <input placeholder="Gestor - Foto de perfil" type="file" name="gestorFoto">
        <br>
        <select required name="gestorSetor" id="">

            <option selected disabled>
                ESCOLHA UM SETOR
            </option>

            <% listaSetores.forEach((listaSetores)=>{ %>

                <option value="<%= listaSetores.id %>">
                    <%= listaSetores.descricao %>
                </option>

                <% }); %>
        </select>   
        <br>
        <select required name="gestorCargo">

            <option selected disabled>ESCOLHA UM CARGO</option>

            <% listaCargos.forEach((listaCargos)=>{ %>

                <option value="<%= listaCargos.id %>">
                    <%= listaCargos.nome %>
                </option>

                <% }); %>

        </select>
        <br>
        <input type="submit" value="Atualizar">
    </form>

</div>
</body>

</html>