<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar colaborador</title>
</head>
<body>

    <%- include('./partials/menu') %>

    <h1>Editar colaborador</h1>

    <form action="/home/colaboradores/:id/:nome/editColab/colabUpdate" method="post" enctype="multipart/form-data">
        <input value="<%= colaborador.nome %>"  placeholder="Colaborador - Nome" type="text" name="colabNome" id="">
        <br>
        <input value="<%= colaborador.email %>" placeholder="Colaborador - Email" type="email" name="colabEmail" id="">
        <br>
        <select name="colabSetor" id="">
            <option disabled selected>
                Escolha um setor
            </option>

            <% listaSetores.forEach((listaSetores)=>{ %>

                <option value="<%= listaSetores.id %>">
                    <%= listaSetores.descricao %>
                </option>

            <% }); %>
            
        </select>
        <br>
        <select name="colabCargo" id="">
            <option disabled selected>
                Escolha um cargo
            </option>

            <% listaCargos.forEach((listaCargos)=>{ %>

                <option value="<%= listaCargos.id %>">
                    <%= listaCargos.nome %>
                </option>

            <% }); %>
        </select>
        <br>
        <input type="file" name="colabFoto" id="">
        <br>
        <input type="submit" value="Cadastrar colaborador">
    </form>

</body>
</html>