<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>GESTOR</title>
</head>

<body class="container grid grid-cols-4">

    <div id="loader"></div>

    <%- include('./partials/menu') %>

        <!-- page COntainer -->
        <div class="col-start-2 col-span-3">
            <h1>
                <%= gestorInfo.nome %>
            </h1>
            <h3>
                <%= gestorInfo.email %>
            </h3>
            <h3>
                <%= gestorInfo.senha %>
            </h3>
            <h3>
                <%= gestorCargo.nome %>
            </h3>
            <h3>
                <%= gestorSetor.descricao %>
            </h3>

            <% if(gestorInfo.foto==null) { %>
                <img style="width: 150px; height: 150px;" src="/img/profile/default.jpg" alt="">
            <% } else { %>
                <img style="width: 150px; height: 150px;" src="/uploads/<%= gestorInfo.id %>/<%= gestorInfo.foto %>"
                        alt="">
            <% } %>
                        <a href="/home/perfilGestor/edit">
                            <button>
                                Editar perfil
                            </button>
                        </a>

                        <form action="/home/perfilGestor/edit/delete" method="post">
                            <button>Delete</button>
                        </form>
        </div>

</body>

</html>