<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Colaborador'
}) %>
<body>

    <div id="loader"></div>

    <div id="loader"></div>

    <h1>Página do colaborador</h1>

    <%- include('./partials/menu') %>

    <%listColabInfo.forEach((listColabInfo)=>{ %>
        <h3><%= listColabInfo.nome %></h3>
    <% }); %>

    <%listColabInfo.forEach((listColabInfo)=>{ %>

        <% if(listColabInfo.foto == null){ %>
            <img style="width: 100px; height: 100px;" src="/img/profile/default.jpg" alt="imagem de <%= listColabInfo.nome %>">
        <% } else { %>

        <img style="width: 100px; height: 100px;" src="/uploads/<%= gestorInfo.nome %>/colaboradores/<%= listColabInfo.nome %>/<%= listColabInfo.foto %>" alt="imagem de <%= listColabInfo.nome %>">
    
        <% } %>

    <% }); %>

    <% listColabInfo.forEach((listColabInfo)=>{ %>
        <h4><%= listColabInfo.nome %></h4>
    <% }); %>
    
    <% listColabInfo.forEach((listColabInfo)=>{ %>
        <a href="editColab">
            Editar perfil de colaborador
        </a>
    <% }); %>   

    <form action="colabDelete" method="post">
        <button type="submit">
            Deletar colaborador
        </button>
    </form>

</body>
</html>