<%- include('./partials/header', {
    pageName:'GESTOR'
}) %>   

<body class="">

    <div id="loader"></div>

    <div class="flex">

    <%- include('./partials/menu') %>
   
    
        <!-- page COntainer -->
        <div class="">
            <h1>
                <%= gestorInfo.nome %>
            </h1>
            <h3>
                <%= gestorInfo.email %>
            </h3>
            <h3>
                <%= gestorInfo.senha %>
            </h3>
            <h3>
                <%= gestorCargo.nome %>
            </h3>
            <h3>
                <%= gestorSetor.descricao %>
            </h3>

            <% if(gestorInfo.foto==null) { %>
                <img style="width: 150px; height: 150px;" src="/img/profile/default.jpg" alt="">
                <% } else { %>
                    <img style="width: 150px; height: 150px;" src="/uploads/<%= gestorInfo.id %>/<%= gestorInfo.foto %>"
                        alt="">
                    <% } %>
                        <a href="/home/perfilGestor/edit">
                            <button>
                                Editar perfil
                            </button>
                        </a>
                        <!-- Rota para deletar -->
                        <form action="/home/perfilGestor/edit/delete" method="post">

                        </form>

                        <button onclick="showModal()">DELETE</button>

                        <div id="delModal" class="w-3/5 h-1/2 rounded-lg border-4 border-gray-800">

                            <div class="flex flex-col w-full bg-gray-300 rounded">

                                <div class="flex flex-row justify-end px-5 py-2">
                                    <button onclick="closeModal()">
                                        <img class="h-8 w-8" src="/img/icons/x-lg.svg" alt="close icon">
                                    </button>
                                </div>

                                <div class="flex flex-col h-full justify-center items-center">
                                    <h1 class="text-4xl font-bold my-2">DELETAR? TEM CERTEZA? 🤔</h1>
                                    <p class="text-xl ">Quer mesmo deletar seu perfil e todas as informações nele
                                        armazenadas?</p>
                                </div>



                                <div class="flex flex-col">
                                    <p>Digite os números gerados abaixo:</p>
                                    <p id="randomNum">
                                        <!-- Gerando 6 números aleatórios -->
                                    </p>
                                    <input type="text" id="checkInput" oninput="numCheck()">
                                </div>

                                <div class="flex flex-row h-full items-center justify-around">
                                    <button disabled onclick="clicked()" id="delBtn">
                                        Sim, quero deletar minhas informações 😠😡
                                    </button>

                                    <button onclick="closeModal()">
                                        Não, não vou deletar minhas informações 😇
                                    </button>
                                </div>
                            </div>

                        </div>

        </div>
</body>
</html>