<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <title>GESTOR</title>
</head>

<body class="">

    <div id="loader"></div>

    <div class="flex">

    <%- include('./partials/menu') %>
    <%- include('./partials/header') %>
    
        <!-- page COntainer -->
        <div class="">
            <h1>
                <%= gestorInfo.nome %>
            </h1>
            <h3>
                <%= gestorInfo.email %>
            </h3>
            <h3>
                <%= gestorInfo.senha %>
            </h3>
            <h3>
                <%= gestorCargo.nome %>
            </h3>
            <h3>
                <%= gestorSetor.descricao %>
            </h3>

            <% if(gestorInfo.foto==null) { %>
                <img style="width: 150px; height: 150px;" src="/img/profile/default.jpg" alt="">
            <% } else { %>
                <img style="width: 150px; height: 150px;" src="/uploads/<%= gestorInfo.id %>/<%= gestorInfo.foto %>"
                        alt="">
            <% } %>
                        <a href="/home/perfilGestor/edit">
                            <button>
                                Editar perfil
                            </button>
                        </a>

                        <form action="/home/perfilGestor/edit/delete" method="post">
                            <button>Delete</button>
                        </form>
        </div>
    </div>
    

</body>

</html>