<%- include('./partials/header', {
    gestorInfo: gestorInfo,
    pageName: 'Pesquisa'
}) %> 

<div id="loader"></div>

<div class="container grid grid-cols-5"> 

    <div class="col-start-1 col-span-1">
        <%- include('./partials/menu') %>
    </div>     

<div class="rounded-lg col-start-2 col-span-4 sm:col-start-3 sm:col-span-2 mr-4">


    <h1 class="text-2xl font-bold text-gray-800 my-6">Pesquisa</h1>


<div class="sm:flex sm:flex-wrap mt-4 justify-center">
<% foundColab.forEach((colab)=>{ %>
    <div class="">

        <div class="bg-white p-2 bg-opacity-50 rounded-lg shadow-lg sm:w-72">

        <div >
            <% if(colab.foto==null){ %>
                <img class="rounded-full" src="/img/profile/default.jpg" style="width: 100px; height: 100px;" alt="">
            <% } else { %>
                <img class="rounded-full" src="/uploads/<%= gestorInfo.id %>/colaboradores/<%= colab.id %>/<%= colab.foto %>" alt="" style="width: 100px; height: 100px;">
            <% } %>
            <p class="text-gray-900 font-semibold"><%= colab.nome %></p>
        </div>
        <div class="my-auto text-gray-800">
            <!-- Criando rota dinâmica para a página de detalhes do colaborador -->
            <a href="/home/colaboradores/<%= colab.id %>/" class="">ver info</a>
        </div>
    </div>
    </div>
<% }); %>


</div>
</div>

</body>
</html>