<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Cadastrar</title>
</head>

<body class="h-screen w-screen flex items-center justify-center" style="background-color: #4b7296;">    
    
    <div class="bg-gray-200 shadow-md rounded-md p-8 items-center justify-center md:flex mx-4 my-4">

        <img src="/img/logo.png" alt="Logo" class="h-32">

        <div class="">

            <h1 class="text-center mt-4 md:mt-0 font-medium">CADASTRO</h1>    

            <form action="/cadastrar/cadGestor" method="post" enctype="multipart/form-data">

                <div class="py-2">
                    <input required placeholder="Nome Completo" type="text" name="gestorNome" id="" class="pl-4 pr-2 py-1 w-full bg-white border border-gray-base placegolder-gray-300 focus:outline-none" >
                </div>               
                <div class="py-2">
                    <input required placeholder="E-mail" type="email" name="gestorEmail" id=""  class="pl-4 pr-2 py-1 w-full bg-white border border-gray-base placegolder-gray-300 focus:outline-none">
                </div>                
                <div class="py-2">
                    <input required placeholder="Senha" type="password" name="gestorSenha" id=""  class="pl-4 pr-2 py-1 w-full bg-white border border-gray-base placegolder-gray-300 focus:outline-none">
                </div>                
                <div class="py-2">
                    <input placeholder="Gestor - Foto de perfil" type="file" name="gestorFoto" id="">
                </div>     

                <div class="py-2">
                    <select required name="gestorSetor" id="" class="pl-4 pr-2 py-1 w-full">
        
                        <option selected disabled>
                            Setor
                        </option>
            
                        <% listaSetores.forEach((listaSetores)=>{ %>
            
                            <option value="<%= listaSetores.id %>">
                                <%= listaSetores.descricao %>
                            </option>
            
                            <% }); %>
                    </select>
                </div>  

                <div class="py-2">
                    <select required name="gestorCargo" class="pl-4 pr-2 py-1 w-full">
        
                        <option selected disabled>Cargo</option>
            
                        <% listaCargos.forEach((listaCargos)=>{ %>
            
                            <option value="<%= listaCargos.id %>">
                                <%= listaCargos.nome %>
                            </option>
            
                            <% }); %>
            
                    </select>        
                </div>
                
                <div class="py-2">
                    <input type="submit" value="Cadastrar" class="py-1 w-full text-white font-medium botao hover">
                </div>
                
            </form>

                <div class="py-2">
                    Voltar ao <a href="/" class="font-medium">login</a>
                </div>             
            </div>

            <div>
                <%= error %>
            </div>

        </div>        
    </div>
</body>
</html>